language: python
python:
- '3.6'
- 3.6-dev
- nightly
install:
- pip install pipenv
- pipenv install --dev
before_script:
- psql -c 'create database test_db;' -U postgres
- yarn install
- pipenv run python manage.py collectstatic
script:
- pipenv run flake8
- pipenv run coverage run --source=. --omit manage.py,"*/admin.py","*/migrations/*","*/apps.py",volproject/wsgi.py
  manage.py test  -v 2
- coveralls
services:
- postgresql
env:
  global:
  - DATABASE_URL=postgres://postgres@localhost/test_db
  - secure: DVrETAPbM3RXmPrBCstxSeI1ZTrHrAr/WBOuXis8QQec0wdWqc1VczpSqvK8dc4QmQybYiCbjKEMw/r9HUh9blpPAZ0QTS3GfCwW+qwZ4qw/IQ2lH4Lf1USt6IltecdYQZkX+mOcmo+UqOeGnw0KSKJJOYppXza1/bq/moGt4i75eEsVGO9TWtUscIH/7LJW1TUWhtlS869gJczw2KvK7grAFwuuA+x67nIBPoxAyKLfHm2kND/IqNYGDwlBcIpRqjPD0QcLvdihycyGdU9QeEFqSBLo0XzYJxSpKYhiECRPO98hRLLhSTNh5enrCp6Aq0cqWQpaWYzyMnNN92AHOiT4JmGSwR8iAlNi8h5g03fZhxC0vy42x3EitpaR5oM32gLdSwMIuWYPiVS33/O46yA9dPEktHRSe7JqiXzoK2KHVITHthPgADfGwikbwonfoamvTcvss2FWyUQPrURLMrkdKI9pTtkWrG/X7Xw+y/LXCGoOpgrzkIHV/8x8iWRd6je/Ap90OqUO/Z4mICPz9pMuS6mmlz/NHi7DvLP+8TWGZ15+5jTebeskv6ZzWCIx62ViVVYGsBugVkJaTprSAIuGiXP0B4qpo3T+olQcREDrOX6BP0r/qvFgVkVORJPtsGCc2rhwnR7OHwcnLp9KsoZHMa/8c1qv5r7rnSbhb7E=
deploy:
  provider: heroku
  api_key:
    secure: fcV6/ZG6JlPtiaSjbF/CdSTIzmzTQrERBeDbfR5/uOFRpXaS2dSvo0VtOkzFuHEWGGuqAe1qLOJRcdqNMUUq5/aXx/F84k8iOkGgFKwbuvNprnlkHS0pJrrYU5KNfX+fnJezB4+WY/iwpmk7For4C0i1tf8+PiPFrK9RNdQCLHLlq/5uP0h+uu785F2EpN9Mcf6oBB8vl9cjZXc+PPR8rRcLb0TFtHKxOxz0xc20MHbGcFfXqBXxejArpMqXV887YL5sohlCqJFTZl2JMFsYnG5IT0bEOY+Ts5I2/ynIzdrAaiyCO6Min5x9IlrUuTiGZ+1f/Ail1A4Ne463qjr6voBV/U1LlUVonf1PpTdKUNTd71egqTSckO14qmzIjVO2mwbUBvQxr3AzMoNmcT3VavFS6AbcxiR62JwZKVpg47DYRZxe63R0AHmEJNUrTSM2qpSyr+BDH4hevFVJbAUubIpRnaeQxuFOn8pqRg4xpTNrBLxMCZp8BBGMfXT0QiBxVqO40ZMTHU3I8v4adXqMG3fcSLkiA2zbmNmdz5sMiYUqu2HKrCS4hwDXfZRuGoAfxgJM7nwE8qrB7CQLd8rPi99E79tei4UChYhi0M3B2VR40fO6XqfbKvwopZxWOnAiABWp7EoWPDxFF32HqkcYDgBuV03kWPUaFUA+N2AQ5vA=
  skip_cleanup: true
  run: pipenv run python manage.py migrate
