[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

Django = "*"
"dj-database-url" = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
"django-analytical" = "*"
djangorestframework = "*"
"factory-boy" = "*"
coreapi = "*"
"django-rest-swagger" = "*"
"django-filter" = "*"
"django-autoslug" = "*"

[dev-packages]

pytest = "*"
"flake8" = "*"
"pytest-flake8" = "*"
coverage = "*"
coveralls = "*"
