html {
    position: relative;
    min-height: 100%;
}

.vol-warning {
    padding-top: 5rem;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.vol-template {
    padding-top: 0rem;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Workaround of bootstrap inputs being shortened when adding typeahead. See https://github.com/bassjobsen/typeahead.js-bootstrap-css/issues/4*/
.twitter-typeahead > .form-control {
    width: inherit !important;
}

/* Individual results */
.vol-results-intro {
    margin-bottom: 3rem;
}
/* Individual results */
.vol-results-result {
    margin: 3rem 0;
}

.vol-results-results p + h4 {
    margin-top: 1.5rem;
}

/* Sticky Footer */
.vol-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    padding-right: 15px;
    padding-left: 15px;
}

.nav-pills li {
    margin-left: 5px;
}

/* From https://github.com/bassjobsen/typeahead.js-bootstrap4-css/blob/master/typeaheadjs.css */
span.twitter-typeahead .tt-menu {
    cursor: pointer;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    /* Scrollable menu */
    max-height: 250px;
    overflow-y: auto;
}

span.twitter-typeahead .tt-suggestion {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0; }
span.twitter-typeahead .tt-suggestion:focus, .dropdown-item:hover, span.twitter-typeahead .tt-suggestion:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5; }
span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    color: #818a91; }
span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
span.twitter-typeahead {
    width: 100%; }
.input-group span.twitter-typeahead {
    display: block !important; }
.input-group span.twitter-typeahead .tt-menu {
    top: 2.375rem !important; }

/* Login modal */

@media (min-width: 768px) {
    .vol-row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.vol-login .vol-authTitle {
    text-align: center;
    line-height: 300%;
}

.vol-login .vol-socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.vol-login .vol-socialButtons a:hover {
    color: white;
    opacity:1;
}
.vol-login .vol-socialButtons .vol-btn-facebook {background: #3b5998;}
.vol-login .vol-socialButtons .vol-btn-twitter {background: #00aced;}
.vol-login .vol-socialButtons .vol-btn-google {background: #c32f10;}
.vol-login .vol-socialButtons .vol-btn-github {background: #999;}