{% extends "vol/base.html" %}
{% block title %}About Vol{% endblock %}
{% block content %}
    <div class="container">
        <p>Vol was conceived by <a href="http://www.0tt0.net/"  class="text-muted">Otto Jongerius</a> to fill his own need for a simple, user-friendly site to find volunteering opportunities.</p>

        <p>Though he's not a front-end developer or designer, the clean, simple look is designed to connect you to charities and volunteering options faster and with the least fuss possible.</p>

        <p>From humble beginnings here in Wellington, New Zealand, the plan is to expand the site until it has global reach.</p>

        <p>If you have any suggestions or want to collaborate for improving this project, please check out the <a href="https://github.com/ojongerius/vol" class="text-muted">collaboration page</a>.</p>
    </div>
{% endblock %}