{% extends "vol/base.html" %}

{% block title %} About {% endblock %}
{% block content %}
<div class="vol">
    <p>This site was made to scratch my own itch. In my experience sites to find volunteering opportunities
    are enormously demotivating instead of uplifting.</p>
    <p>
    I came across terrible UI experience while looking for volunteering opportunities in Amsterdam, The Netherlands
    a few years ago, from a company perspective, found the same to be true in Sydney, Australia, and while on a
        sabbatical the same seems to hold true for New Zealand. </p>

    <p>So here I am being the change I seek! I'm not a frontend dev nor designer and by no means claim it looks great, at
        least you'll be able, or so I hope, what you find, quicker. If you want to help out improving this project, check out the
     <a href="/collaborate.html">collaboration page</a>.</p>
</div>
{% endblock %}