{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %} </title>

    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link href="{% static "css/vol.css" %}" rel="stylesheet">

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "tether/dist/js/tether.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    {#    <scrip src="{%  static "popper.js/dist/umd/popper.min.js" %}"></scrip>#}
    <!-- No idea why this is not loaded correctly, the cdn link just works .. -->

    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

</head>
<body>
<nav class="navbar navbar-dark fixed-top" style="background-color: #2c3e50;">
    <div class="container">
        <a class="navbar-brand" href="/" aria-label="Navigate home"><i class="fa fa-recycle" aria-hidden="true" title="Navigate home"></i></a>
    </div>
</nav>
<div class="vol-template" id="content">
    {% block content %}{% endblock %}
</div>
{% include "vol/footer.html" %}

</div>
</body>
</html>