<div class="vol-footer">
    <div class="container">
        <a href="/" target="_blank" aria-label="Home"><i class="fa fa-reply text-muted" aria-hidden="true" title="Home"></i></a>
        <a href="https://www.twitter.com/xzu" target="_blank" aria-label="Twitter page"><i class="fa fa-twitter-square text-muted" aria-hidden="true" title="Twitter page" ></i></a>
        <!--<a href="https://nz.linkedin.com/in/ottojongerius">Linkedin</a> |-->
        <a href="https://github.com/volCommunity/vol-django" target="_blank" aria-label="Github project page"><i class="fa fa-github-square text-muted" aria-hidden="true" title="Github project page"></i></a>
        <a href="/about.html" class="text-muted" target="_blank" title="About this project" aria-label="About this project">About</a>
    </div>
</div>