{% extends "vol/base.html" %}

{% block title %} Vol {% endblock %}
{% block content %}
    <script>
    $(function(){
    });

    // init ghetto state
    var s = 0;
    var subject = [];   // TODO: default to individual?
    var areas = [];     // TODO: default to Geo user has and ask for permission?
    var interests = []; // TODO: Should this default to People?
    var results = [];

    $( document ).ready(function() {
        $('#guide p').html('Hello. Are you looking for yourself,  your family or company?');
    });


    </script>
    <body>
     <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom" id="guide">
         <!--TODO: allow selecting multiple options -->
         <!--TODO: fix minlenght -currently ignored-->
         <p></p>
         <!--<div class="uk-link-text" id ="status"></div>-->
         <div id="fuck_it">
     <div class="uk-autocomplete uk-form" data-uk-autocomplete="{source:'static/data/user.json', method: 'get'}" id="answer">
         <input class="uk-form-width-medium" type="text" minlength=4 placeholder="Go on then..">
         <button class="uk-button uk-button-default" id="next">Next</button>
     </div>
         </div>
         <br>
        <script>

            // Bind handler on document instead of the element that we'll remove and recreate, see
            // https://stackoverflow.com/questions/17452924/javascript-event-listener-refresh/17453024#17453024
            $('body').on("selectitem.uk.autocomplete", function(a, b, c) {
                // TODO: clean up!
                if (s == 0) {
                    subject.push(b.value); // TODO: remove duplicates TODO: use id
                    $('#status').html("Looking for: " + subject + "<br><br>");
                } else if (s == 1) {
                    interests.push(b.value); // TODO: remove duplicates TODO: use id
                    $('#status').html("Interests: " + interests + "<br><br>");
                } else if (s ==2) {
                    areas.push(b.value); // TODO: remove duplicates TODO: use id
                    $('#status').html("Areas: " + areas + "<br><br>");
                }
            })

            // Bind handler on document instead of the element that we'll remove and recreate, see
            // https://stackoverflow.com/questions/17452924/javascript-event-listener-refresh/17453024#17453024
            $(document).on('click', '.uk-button', function(){ // Register in document,
                if (s == 0) {
                    if (subject.length < 1) {
                        alert("Please tell use for who you are looking") // TODO: replace by modal, or use default
                    } else {
                        s = 1; // next stage
                        $('#guide p').html('Which areas are you keen on? Outdoor / Technology / Social - People / Animals');

                        // Have tried to reload / refresh the autocompleter but it does not reload by just changing the
                        // attribute. Brute force remove and adding of the elements will do for the prototype
                        $('#answer').remove();
                        $('#fuck_it').html('<div class="uk-autocomplete uk-form" data-uk-autocomplete="{method: \'get\', source:\'static/data/interests.json\', method: \'get\'}" id="answer"> \
                            <input class="uk-form-width-medium" type="text" minlength=4 placeholder="Go on then.."> \
                            <button class="uk-button uk-button-default" id="next">Next</button>');

                    }
                } else if (s == 1) {
                    if (interests.length < 1) {
                        alert("Please tell in where you'd like to ") // TODO: replace by modal, or use default
                    } else {
                        s = 2; // Next stage
                        $('#guide p').html('Where would you like to do help out?');
                        // Have tried to reload / refresh the autocompleter but it does not reload by just changing the
                        // attribute. Brute force remove and adding of the elements will do for the prototype
                        $('#answer').remove();
                        $('#fuck_it').html('<div class="uk-autocomplete uk-form" data-uk-autocomplete="{method: \'get\', source:\'static/data/areas.json\', method: \'get\'}" id="answer"> \
                            <input class="uk-form-width-medium" type="text" minlength=4 placeholder="Go on then.."> \
                            <button class="uk-button uk-button-default" id="next">Next</button>');
                    }
                } else if (s == 2) {
                    if (areas.length < 1) {
                        alert("Please tell us where you are interested in volunteering") // Need more info
                    } else {
                        <!-- Redirect to results page -->
                        target = '/results/' + subject.join('+') + '/' + areas.join('+') + '/' + interests.join('+')
                        location.href = target
                    }
                }
            });
        </script>
     </div>

{% endblock %}