{% extends "vol/base.html" %}
{% load static %}

{% block title %} Vol, find volunteering opportunities, globally{% endblock %}
{% block content %}
    <div class="container">
        <p><strong>Welcome</strong></p>
        Let's try to find you a volunteering opportunity in your area...
        <p>Tell us your interests plus location below and we'll try to hook you up.</p>
    </div>

    <div class="container">
        <form class="form-inline">
            <div id="interests">
                <label class="sr-only" for="interestsInput">Interests</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 typeahead" id="interestsInput"
                       placeholder="Youth">
            </div>

            <label class="sr-only" for="locationInput">Location</label>
            <div id="locations" class="input-group mb-0 mr-sm-o mb-sm-0">
                <div class="input-group-addon ">@</div>
                <input type="text" class="form-control typeahead" id="locationInput" placeholder="Wellington, NZ">
                {#  ^^ Needed a workaround in vol.css #}
            </div>
            <button type="submit" class="btn btn-outline-info" id="submit">Submit</button>
        </form>
    </div>
{% endblock %}