{% extends "vol/base.html" %}
{% block title %}Job description{% endblock %}
{% block content %}

    <div class="container">
        <div class="card border-info mb-3">
            <div class="card-header"><h4 class="card-title">{{ job.title }}</h4></div>
            <div class="card-header">
                <strong>Permalink</strong> <a href="/job/{{  job.id }}">/job/{{ job.id }}</a><br>
                <strong>URL</strong> <a href="{{ job.url }}">{{ job.url }}</a><br>
                <strong>Organisation</strong> <a href="{{ job.organisation.url }}">{{ job.organisation }}</a>
                <br>
                <!-- Include link and logo -->
                <strong>City</strong> {{ job.city }}
            </div>
            <div class="card-body">
                <p class="card-text text-dark">
                    {{ job.text }}
                </p>
            </div>
        </div>

    </div>

{% endblock %}